<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>gui</headerType>
  <jar>CompSizePDF.jar</jar>
  <outfile>C:\Users\Jhonny\Documents\FileForgeV2\executavel\FileForge.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Jhonny\Documents\FileForgeV2\executavel\icone.ico</icon>
  <jre>
    <path>jdk25</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>25</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>